<!-- Chat Icon -->
<div id="message-icon">
  <!-- Replace with your preferred icon or image -->
  <span>💬</span>
</div>

<!-- Chat Box -->
<div id="chat-box" class="hidden">
  <div id="chat-box-header">
      <span>EG Group</span>
      <button id="close-chat">X</button>
  </div>
  <div id="chat-messages">
      <!-- Messages will be displayed here -->
  </div>
  <div id="chat-input-container">
      <input type="text" id="chat-input" placeholder="Type your message...">
      <button id="send-message">➤</button>
  </div>
</div>
