/* About us section */

#about-us {
    position: relative;
    color: #fff;
    text-align: left;
    background: url('../images/team_photo.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 50px;
  }
  
  .content-container {
    position: relative;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for readability */
    padding: 50px;
    border-radius: 10px;
  }
  
  #about-us h2 {
    color: #e64a19;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #about-us p {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .statistics {
    display: flex;
    justify-content: left;
    gap: 40px;
    margin-bottom: 30px;
  }
  
  .stat h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .stat p {
    font-size: 0.5rem;
  }
  
  .director-name p {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .name-of-director {
    font-size: 1.5rem !important;
    font-weight: bold;
  }

  
@media (max-width: 768px) {
    
  .content-container {
    padding: 30px; /* Reduce padding on smaller screens */
    }

    .statistics {
        gap: 5px; /* Reduce gap on smaller screens */
    }

    .stat h3 {
        font-size: 1.5rem; /* Adjust font size as needed */
    }

    .stat p {
        font-size: 0.9rem; /* Adjust font size as needed */
    }

    .director-name p {
        font-size: 1rem; /* Adjust font size as needed */
    }
  }