/* Hero Section Styles */
#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  #hero-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Assuming that "hero-text" is the class for your hero section text */
  .hero-text {
    position: absolute;
    z-index: 10;
    bottom: 20%;
    left: 10%;
    text-align: left;
    color: #ffffff; /* White text color for visibility */
    font-size: 3rem; /* Adjust the size as needed */
    max-width: 900px; /* Adjust the width as needed */
    font-weight: bold; /* For bold text */
  }

@media (max-width: 768px) {
    .hero-text {
        font-size: 1.5rem; /* Smaller text for mobile screens */
        left: 5%; /* Adjust position for smaller screens */
        bottom: 10%; /* Adjust position for smaller screens */
        max-width: 90%; /* Allow the text to be responsive to the screen width */
      }
}