/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, p, a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #fff;
}

/* Navbar Styles */
header#navbar {
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.logo-box img {
  height: 50px;
}

#navbar .logo .first-logo {
  width: 100px;
}

#nav-links {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

#nav-links li {
  margin: 0 15px;
}

#nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

#nav-links li a:hover {
  color: #ddd;
}

.language-selector {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-right: 50px;
}

.language-selector select {
  border: none;
  background: transparent;
  padding: 5px 10px;
  color: #2c3e50;
}

/* Button Styles */
.button {
  background-color: #ff5722;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button.view-projects {
  background-color: #ff5722;
  color: #ffffff;
}

.button.view-projects:hover {
  background-color: #ffffff;
  color: #ff5722;
  border-color: #ff5722;
}

.button.contact-us {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ff5722;
}

.button.contact-us:hover {
  background-color: #ff5722;
  color: #ffffff;
  border-color: #ff5722;
}

/* Section Styles */
section {
  background-color: #ffffff;
  padding: 50px 20px;
  color: #333333;
}

section h2 {
  color: #333333;
}

section a {
  color: #ff5722;
  transition: color 0.3s ease;
}

section a:hover {
  color: #e64a19;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-container {
  flex-direction: column;
  margin-right: 0;
  }
  
  #nav-links {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    display: none; /* Hide by default on mobile */
}

#nav-links li {
    padding: 5px 0;
}

.button {
    padding: 10px 20px;
    font-size: 0.8rem;
}
}  