/* services section */
#services {
  text-align: center;
  padding: 50px 0;
  background-color: #f5f5f5;
}

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.section-title::after {
  content: '';
  display: block;
  width: 60px; /* Length of the underline */
  height: 4px; /* Thickness of the underline */
  background-color: #ff5722; /* Orange color */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.services-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.service-item {
  flex-basis: 30%; /* Adjust the width as needed */
  margin: 15px;
  text-align: left;
}

.service-item img {
  width: 80%; /* Adjust the size as needed */
  height: 300px;
  margin-bottom: 15px;
  border-radius: 5px; /* Round corners for images */
}

.service-item h3 {
  color: black;
}

.service-item p {
  color: black;
  width: 80%;
}

.learn-more-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.learn-more-btn:hover {
  background-color: #ffffff;
  color: #ff5722;
  border-color: #ff5722;
}

@media (max-width: 768px) {
  .services-wrapper {
    justify-content: center;
  }

  .service-item {
    flex-basis: 100%; /* Full width on small screens */
    margin-bottom: 20px;
  }

  .section-title::after {
    width: 30px; /* Shorter underline on small screens */
  }
}
